#btdev-inscriere-edit-form {
    * {
        box-sizing: border-box;
    }

    .category-container {
        margin-bottom: 20px;
        border: 1px solid #000000;
        border-radius: 8px;

        .category-title {
            padding: 10px;
            width: 100%;
            padding: 10px;
            cursor: pointer;
        }

        .category-field-description {
            margin: 0px 0px 0.75rem;
            font-style: italic;
        }

        .category-content {
            padding: 15px 10px;
            width: 100%;
            display: none;

            .category-field-title-inner {
                margin: 1;
            }

            .category-field-container-inner {
                .category-field-title {
                    margin: 0.5em 0px;
                }

                .category-field-title-inner {
                    font-weight: bold;
                }

                & > .category-field-container-inner {
                    margin-left: 10px;
                }

                .category-field-content-inner {
                    padding-left: 10px;
                    padding-right: 10px;

                    .category-field-container {
                        &.repeater-field {
                            position: relative;
                            padding: 15px;

                            .category-field-title {
                                margin-left: 60px;
                            }

                            .repeater_control {
                                position: absolute;
                                cursor: pointer;
                                margin-top: -25px;
                                margin-left: 30px;

                                &.not_deletetable {
                                    cursor: default;
                                    opacity: 0.5;
                                }
                            }

                            .repeater_move {
                                position: absolute;
                                cursor: n-resize;
                                margin-top: -25px;
                            }
                        }

                        &:first-child {
                            padding-top: 0px;
                        }
                    }
                }

                &.level-1 > .category-field-content-inner {
                    padding-left: 0px;
                }
            }

            .category-field-wrapper {
                input,
                textarea,
                select {
                    width: 100%;
                    padding: 5px;
                }

                textarea {
                    height: 100px;
                }
            }
        }

        &.opened {
            .category-title {
                font-weight: bold;
                border-bottom: 1px solid #000000;
            }

            .category-content {
                padding-top: 10px;
                display: block;
            }
        }
    }
}
